

<div class="jumbotron">
  <div class="container wrapper">
   <div class="col-sm-8">
    <p id="notice"><%= notice %></p>
    <ol class="breadcrumb">
     <li> <%= link_to "song",songs_path%></li>
     
   </ol>
   <h2 class="sec_heading">songs </h2>
   <%= form_tag(songs_path, :method => "get", id: "search-form", class:"navbar-form navbar-right") do %>
   <%= text_field_tag :search, params[:search], placeholder: "Search by album name and song name", class:"form-control search-form" %>
   <button type="submit" class="btn btn-default btn-md">Search</button>
   <% end %>
 </div>
 <div class="col-sm-4">
  
  <ul class="sub_nav" style="list-style:none;">
    <li>
      
    </li>
  </ul>
  <ul class="sub_nav" style="list-style:none;">
    <li><%= link_to "New song ", new_song_path, :class =>"btn btn-default"%></li><br/>
  </ul>
</div>
</div>
</div>
<%#= bootstrap_flash %>

<div class="container content">
  <%if @songs.present? %>
  <table class="table">
    <thead>
      <tr>
        <th>song #</th>
        <th>Name</th>
        <th>Album name</th>
        <th>audio</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @songs.each do |song| %>
      <tr>
        <td><%= song.id %></td>
        <td><%= song.title %></td>
        <td><%= song.album.name %></td>
        <td><%= song.audio_file_name %></td>
        <td><%= link_to 'Show', song, :class =>"btn btn-default" %> | 
          <%= link_to 'Edit', edit_song_path(song), :class =>"btn btn-default" %> | 
          <%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"btn btn-default" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <fieldset  class = "no_message_text">
      No songs placed yet.
    </fieldset>
    <%end%>
  </div>
